[submodule "lspce"]
	path = home/.doom.d/extensions/lspce
	url = https://github.com/zbelial/lspce.git
[submodule "coc.emacs"]
	path = home/.doom.d/lisp/coc.emacs
	url = git@github.com:jadestrong/coc.emacs.git
[submodule "lsp-rocks"]
	path = home/.doom.d/extensions/lsp-rocks
	url = https://github.com/jadestrong/lsp-rocks.git
[submodule "home/.doom.d/extensions/lsp-bridge"]
	path = home/.doom.d/extensions/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "home/.doom.d/extensions/mind-wave"]
	path = home/.doom.d/extensions/mind-wave
	url = https://github.com/manateelazycat/mind-wave.git
[submodule "md-preview"]
	path = home/.doom.d/extensions/md-preview
	url = https://github.com/jadestrong/md-preview.git
[submodule "lsp-copilot"]
	path = home/.doom.d/extensions/lsp-copilot
	url = https://github.com/jadestrong/lsp-copilot.git
